{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container">
    <div class="card-title" style="margin: 15px;">Client Profile</div>

    <div class="card">
        <div class="container" style="">
            <div class="row aligin-center" >
                <ul>
                    <div class="" style="font-weight:bolder;">
                        <i class="fa-solid fa-house-laptop"></i>
                        {{ client.name }}
                    </div>
                </ul>

            </div>&nbsp;
            <div class="row">
                <i class="fa fa-location-dot"></i>&nbsp;

                {{ client.address }}
            </div>
            <div class="row">
                <i class="fa fa-person"></i> &nbsp;

                {{ client.contact_person }}
            </div>
            <div class="row">
                <i class="fa fa-phone"></i>
                {{ client.mobile }}
            </div>
            
        </div>
    </div>

{% if contracts  %}
    <div class="card">

        <div class="card-title" style="margin: 15px;">Contracts</div>
        {% for contract in contracts %}
        <a href="{% url 'view-contract' contract.pk %}">

            <div class="card-body" style="padding: 14px;; border:#76bd7a">
                <div class="alert" role="" {% if act.payment_status == False  %}
                    style="background:rgba(249, 122, 122, 0.333);" {% else %} style="background: #b8e7ba;" {% endif %}>
                    <h3>{{ contract.office.office_name }}</h3>

                    <p> {{ contract.billing_date }}</p>
                    <h6>{{ contract.client.name }}</h2>

                </div>

            </div>

        </a>

        {% endfor %}

    </div>
</div>
{% else %}

<div class="alert alert-danger" role="alert">
    No Contract record Found !!
  </div>
  
{% endif %}
{% endblock  %}

<!-- Specific JS goes HERE -->
{% block javascripts %}



{% endblock javascripts %}