{% extends 'layouts/base.html' %}

{% block title %} Office {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<h1>Office</h1>

{% if messages %}

{% for message in messages %}
<div {% if message.tags %} class="alert alert-{{ message.tag }}" {% endif %} role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}


<!-- Button trigger modal -->
<div class="col-10" style="margin-left: 82%; padding-bottom:10px; ">
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModalLong">
    <i class="fa fa-house-chimney-medical"></i>
    Add Office
</button>

</div>


<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>S.N</th>
                <th>Name</th>
                <th>address</th>
                <th>PAN no.</th>
                <th>created date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for Office in Offices %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ Office.office_name }}</td>
                <td>{{ Office.address }}</td>
                <td>{{ Office.pan_no }}</td>
                <td>{{ Office.created_date }}</td>
                <td>


                    <a href="{% url 'edit_company' Office.pk %}" class="btn btn-primary">Edit</a>

                    <a href="{% url 'delete-company' Office.pk %}">
                        Delete
                    </a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



<!-- Modal -->
<div class="modal" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Add Office</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">X</span>
                </button>
            </div>
            <div class="modal-body">

                <form method="post" action="{% url 'add-company'  %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Office Name:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>

                    <div class="form-group">
                        <label for="email">Office Address</label>
                        <input type="text" class="form-control" id="name" name="address" required>
                    </div>
                    <div class="form-group">
                        <label for="email">PAN No:</label>
                        <input type="text" class="form-control" id="name" name="pan_no" required>
                    </div>
                    <div class="form-group">
                        <label for="email">Documents</label>
                        <input type="file" class="form-control" id="name" name="document" required>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger"  data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>


                </form>

            </div>
        </div>
    </div>
</div>


{% endblock %}