{% extends 'layouts/base-fullscreen.html' %}
<div class="align-center">
{% block content %}

    <div style="display: flex; justify-content: center; align-items: center; width: 100%; max-width: 400px; padding: 20px;">
        <div class="card-body" style="background-color: white; align-items: center; border-radius: 8px; box-shadow: 0 4px 8px rgba(0,0,0,0.1); padding: 20px; width: 100%; box-sizing: border-box;">

            {% if messages %}

                {% for message in messages %}
                    <div {% if message.tags %} class="alert alert-success" {% endif %} role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <form role="form" method="GET">
                {% csrf_token %}
                <div class="form-group mb-3">
                    <div class="input-group input-group-merge input-group-alternative">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ni ni-lock-circle"></i></span>
                        </div>
                        <input class="form-control" name="otp" placeholder="Master Auth Token" type="text">
                    </div>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Proceed</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
</div>