{% extends 'layouts/base.html' %}

{% load static %}
{% block title %} Profile {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

<style>

</style>

{% endblock stylesheets %}


{% block content %}

<section class="vh-100" style="background-color: #ececec;">
  <div class="container py-6 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-lg-9 mb-4 mb-lg-0">
        <div class="card mb-6" style="border-radius: .5rem;">
          <div>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}

              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>


              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="row g-0">
            <div class="col-md-4 gradient-custom text-center text-white"
              style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">

              <h3>{{user}}</h3>
              <p>{{user.profile.roles.name}}</p>

              <div style="padding-bottom: 10%;">
                <!-- Modal -->
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#exampleModal">
                  <i class="fa fa-key"></i>
                  Change password
                </button>
              </div>

            </div>
            <div class="col-md-8">
              <div class="card-body p-4">
                <h6>Information</h6>
                <hr class="mt-0 mb-4">
                <div class="row pt-1">
                  <div class="col-6 mb-3">
                    <h6>Email</h6>
                    <p class="text-muted">{{user.email}}</p>
                  </div>
                  <div class="col-6 mb-3">
                    <h6>First Name</h6>
                    <p class="text-muted">{{user.first_name}}</p>
                    <h6>last Name</h6>
                    <p class="text-muted">{{user.first_name}}</p>
                    <h6>Role</h6>
                    <p class="text-muted">{{user.profile.roles.name}}</p>
                  </div>
                  <div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End of Main Content -->







<!-- Modal -->
<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form method="post" action="{% url 'change-password'  %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="name">Old Password</label>
            <input type="text" class="form-control" id="name" name="old_password" required>
          </div>

          <div class="form-group">
            <label for="email">New Password</label>
            <input type="text" class="form-control" id="name" name="new_password1" required>
          </div>
          <div class="form-group">
            <label for="email">Confirm Password</label>
            <input type="text" class="form-control" id="name" name="new_password2" required>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>




{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}


<script>
  $(".alert").show().delay(2500).fadeToggle();
</script>

{% endblock javascripts %}