{% extends 'layouts/base.html' %}

{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% for contract in all_contracts %}

{% endfor %}

<div class="container">
    <br>
    <div class="row">
        <div class="col-10">
            <h2>Report</h2>
        </div>

        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            {% if message.tags == success %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
            {% else %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>

            {% endif %}

            {% endfor %}
        </ul>
        {% endif %}

        <div class="row">
            <div class="form-group">
                <form action="" method="GET">
                    <input type="text" placeholder="search by contract name" name="title">
                    <input type="text" placeholder="search by amount" name="amount">

                    <select name="office" class="form-control" class="form-control" mt-1
                        aria-label="Default select example">
                        <option selected class="form-control" value="">Select office</option>
                        {% for office in offices %}
                        <option value="{{ office.id }}" style="color: #1e2125; text-decoration-color: #1e2125">
                            {{ office.office_name }}</option>
                        {% endfor %}
                    </select>

            </div>

            <!-- <input type="text" placeholder="search by office" name="office"> -->

            <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr style="font-weight:bold;">
                    <th>S.N</th>
                    <th>Name</th>
                    <th>Office</th>
                    <th>Fiscal Year</th>
                    <th>payment</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>



                <!-- {{ contract }} -->
                {% for contract in all_contracts %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ contract.title_of_contract  }}</td>
                    <td>{{contract.office.office_name}}</td>
                    <td>{{ contract.fiscalyear.start_year }}/{{ contract.fiscalyear.end_year }}</td>



                    <td>
                        {% if contract.payment_status == True %}
                        <span class="badge rounded" style="background: #2bf55a;">Paid</span>

                        {% else %}
                        <span class="badge rounded-pill" style="background: #e85a5a;">Unpaid</span>

                        {%  endif %}
                    </td>
                    <th>{{ contract.amount }}</th>



                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>


    {% endblock  %}


    {% block javascripts %}


    {% endblock javascripts %}