{% extends 'admin/layout.html' %}
{% block title %}
Add Contract
{% endblock %}
{% block content %}

    <div class="container" style="margin-left: 250px">

        <h1>Add Contracts</h1>
        {% if messages %}

            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{ message.tag }}" {% endif %} role="alert">
                    {{ message }}{{ message.tags }}
                </div>
            {% endfor %}
        {% endif %}

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                {#        <label for="name">Contracter Office Name:</label>#}
                {#        <input type="text" class="form-control" id="name" name="office_name" required>#}
                <select name="office_name" class="form-select" aria-label="Default select example">
                    <option selected>Select Office</option>
                    {% for office in offices %}
                        <option value="{{ office.id }}"
                                style="color: #1e2125; text-decoration-color: #1e2125">{{ office.office_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="name">Title of Contract:</label>
                <input type="text" class="form-control" id="name" name="title_of_contract" required>
            </div>
            <div class="form-group">
                <label for="name">Contract with:</label>
                <input type="text" class="form-control" id="name" name="contract_with" required>
            </div>
            <div class="form-group">
                <label for="name">address:</label>
                <input type="text" class="form-control" id="name" name="address" required>
            </div>
            <div class="form-group">
                <label for="name">Contract date:</label>
                <input type="datetime-local" class="form-control" id="name" name="contract_date" required>
            </div>
            <div class="form-group">
                <label for="name">Billing date:</label>
                <input type="datetime-local" class="form-control" id="name" name="billing_date" required>
            </div>
            <div class="form-group">
                <label for="email">Contract file:</label>
                <input type="file" class="form-control" id="contract_file" name="contract_file" required>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
